html,
body {
	background-image:url('/media/deepwater.jpg');
	background-color:#ffffff;
}
/* General layout: 
 * starts with intro,
 * then with product,
 * then with staff
 * and finally with map/contact info
 * Good sources:
 * http://nickdimatteo.com/
 * http://www.littleco.com/
 * */

#intro {
	display:block;
	position:relative;
	height:100%;
	width:100%;
	background:url('/media/deepwater.jpg');
}

#intro header {
    float: none;
    margin-top: 50px!important;
    margin-left: 0;
    text-align: center;
    position: relative;
    top: auto;
}

#intro {
    width: auto;
    position: relative;
    padding: 0 70px;
}
#intro header {
    float: none;
    margin-top: 50px!important;
    margin-left: 0;
    text-align: center;
    position: relative;
    top: auto;
}
